@model TasksAndProjectsApp.Models.ViewModels.EditProjectViewModel
@{
    ViewData["Title"] = "ViewEditProject";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-fluid my-5">
    <div class="row my-5">
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h4 class="text-white my-auto">Edit project details</h4>
                </div>
                <div class="card-body">

                    <form action="/dashboard/projects/edit" method="post">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <label for="Name">Project name</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>

                        <button type="submit" class="btn btn-outline-primary">Save changes</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-md-8">
            <div class="table-responsive shadow">
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Assignee</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Deadline</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Tasks.Count == 0)
                        {
                            <tr>
                                <td colspan="5">No tasks are assigned to this project</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var task in Model.Tasks)
                            {
                                <tr>
                                    <td>@task.Description</td>
                                    <td>@task.Assignee.FirstName @task.Assignee.LastName</td>
                                    <td>@task.Progress%</td>
                                    <td>@task.Status</td>
                                    <td>@task.Deadline.ToShortDateString()</td>
                                    <td class="d-flex justify-content-center">
                                        <a href="#" class="btn btn-primary mx-2">View/Edit</a>

                                        
                                        <form action="/dashboard/tasks/delete/@task.Id" method="post">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

